<% include partials/header %>

<div class="container">
    <header class="jumbotron">
     <div class="container">
        <h1>Hi angel who u bullshittin u did not do that today</h1>
        <p> Thank u for testing this though.  </p>
        <p>
            <a class="btn btn-primary btn-lg" href="/"> Lie again</a>
        </p>
    </div>
</header>


<img src="https://pbs.twimg.com/media/CsLygN8UsAAtIHg.jpg" >







<%include partials/footer %> 